# Sample CQL Queries and Inserts

In [1]:
%%cql select * from rtfap.transactions limit 10

cc_no,year,month,day,txn_time,amount,cc_provider,country,date_text,hour,items,location,merchant,min,notes,solr_query,status,tags,txn_id,user_id
8815000002119388,2016,3,26,2016-04-26T14:30:39+0000,960.82,8815,CN,20160326,2,<null>,,Family Dollar Stores,30,<null>,<null>,APPROVED,<null>,0b042ece-f351-4342-bed5-e1b226dedfde,<null>
3200000053200978,2016,3,26,2016-04-26T15:20:19+0000,386.96,3200,GB,20160326,3,<null>,,Delhaize America,20,<null>,<null>,APPROVED,<null>,412d188f-9e09-45e3-a922-90a39fb3ef43,<null>
1471000091003184,2016,3,26,2016-04-26T14:27:18+0000,66.82,1471,AE,20160326,2,<null>,,Macy's,27,<null>,<null>,APPROVED,<null>,c8df85a2-02e9-4dd4-9d02-0645abe56a8f,<null>
5235000043272920,2016,3,26,2016-04-26T15:45:20+0000,1113.94,5235,KR,20160326,3,<null>,,CVS Caremark,45,<null>,<null>,APPROVED,<null>,3a8ae26c-5d8e-4e45-9a6f-49a91e1dec4d,<null>
3132000013276765,2016,3,26,2016-04-26T14:35:47+0000,1250.82,3132,SN,20160326,2,<null>,,Sherwin-Williams,35,<null>,<null>,APPROVED,<null>,ec5cc868-495f-4e95-bfa6-9b59827fb3a2,<null>
4610000039261410,2016,3,26,2016-04-26T15:50:07+0000,1460.43,4610,CN,20160326,3,<null>,,Wal-Mart Stores,50,<null>,<null>,APPROVED,<null>,7c3b133a-ab94-4429-a802-820715d29f42,<null>
7197000077691512,2016,3,26,2016-04-26T15:16:31+0000,758.22,7197,BD,20160326,3,<null>,,WakeFern / ShopRite,16,<null>,<null>,APPROVED,<null>,4d938e6c-f560-4f2f-86ab-0392f24c8947,<null>
8303000049297257,2016,3,26,2016-04-26T15:25:14+0000,439.17,8303,CN,20160326,3,<null>,,Wal-Mart Stores,25,<null>,<null>,APPROVED,<null>,0c7a643a-e25e-4840-9792-1f5a1ecbea46,<null>
9877000022471278,2016,3,26,2016-04-26T14:31:44+0000,1344.86,9877,CD,20160326,2,<null>,,Wal-Mart Stores,31,<null>,<null>,APPROVED,<null>,cbbec75e-1d01-4ae1-a911-b9f5badec8e7,<null>
6843000023651430,2016,3,26,2016-04-26T15:52:29+0000,1068.28,6843,IN,20160326,3,<null>,,McDonald's,52,<null>,<null>,APPROVED,<null>,0f330999-e966-4356-b30f-807d060a617b,<null>

In [10]:
%%cql select * from rtfap.transactions where cc_no='8303000049297257' and year=2016 and month=3 and day=26 limit 10;

cc_no,year,month,day,txn_time,amount,cc_provider,country,date_text,hour,items,location,merchant,min,notes,solr_query,status,tags,txn_id,user_id
8303000049297257,2016,3,26,2016-04-26T15:25:14+0000,439.17,8303,CN,20160326,3,<null>,,Wal-Mart Stores,25,<null>,<null>,APPROVED,<null>,0c7a643a-e25e-4840-9792-1f5a1ecbea46,<null>

In [40]:
%%cql insert into rtfap.transactions (year, month, day, hour, min, txn_time, cc_no, amount, cc_provider, items, location, merchant, notes, status, txn_id, user_id, tags) VALUES ( 2016, 03, 17, 21, 04, '2016-03-17 21:04:19', '1234123412341234', 200.0, 'VISA', {'tshirt':25, 'dressshirt':50, 'trousers':125}, 'San Francisco', 'Nordstrom', 'asked for discounts', 'Approved', '763629', 'kunalak', {'Fraudulent'});

# Sample CQL Solr_Queries

In [2]:
%%cql select * from rtfap.transactions where solr_query = '{"q":"*:*", "fq":["txn_time:[NOW-30DAY TO *]", "-tags:Fraudulent"]}'

cc_no,year,month,day,txn_time,amount,cc_provider,country,date_text,hour,items,location,merchant,min,notes,solr_query,status,tags,txn_id,user_id
4291000063138309,2016,3,26,2016-04-26T13:49:36+0000,2381.0,4291,US,20160326,1,<null>,NY,Wal-Mart Stores,49,<null>,<null>,APPROVED,<null>,f4d2f32c-e0ef-4fde-b54e-a83483e9fedb,<null>
2498000080875394,2016,3,26,2016-04-26T13:49:36+0000,1997.04,2498,IN,20160326,1,<null>,,The Kroger Co.,49,<null>,<null>,APPROVED,<null>,db384155-ebd2-4d72-8dc1-44656a49f10a,<null>
3727000046906322,2016,3,26,2016-04-26T13:49:36+0000,536.34,3727,CN,20160326,1,<null>,,The Kroger Co.,49,<null>,<null>,APPROVED,<null>,08199b5f-cf68-42f1-993d-885192d65b5b,<null>
5211000026326985,2016,3,26,2016-04-26T13:49:36+0000,1444.35,5211,KP,20160326,1,<null>,,Wal-Mart Stores,49,<null>,<null>,APPROVED,<null>,1207372d-38c7-4680-9353-a3a2061e1e78,<null>
8188000055651470,2016,3,26,2016-04-26T13:49:36+0000,1163.54,8188,CN,20160326,1,<null>,,The Kroger Co.,49,<null>,<null>,APPROVED,<null>,67eaed9e-f246-42e2-9cfe-4abeadc8d531,<null>
5726000071051017,2016,3,26,2016-04-26T13:49:35+0000,1903.15,5726,CN,20160326,1,<null>,,Walgreen,49,<null>,<null>,APPROVED,<null>,9b78aa70-1c54-4e30-81fd-e7be815cb1ea,<null>
4964000060985210,2016,3,26,2016-04-26T13:49:35+0000,798.06,4964,CN,20160326,1,<null>,,TJX,49,<null>,<null>,APPROVED,<null>,c1c05d54-4383-4cef-bde3-8282bd7a55f4,<null>
7026000071305927,2016,3,26,2016-04-26T13:49:37+0000,1363.79,7026,US,20160326,1,<null>,PA,Wal-Mart Stores,49,<null>,<null>,APPROVED,<null>,10eaaa88-28e4-450b-a7b5-13d77539268d,<null>
9021000078340839,2016,3,26,2016-04-26T13:49:38+0000,103.38,9021,ET,20160326,1,<null>,,Toys R Us,49,<null>,<null>,APPROVED,<null>,9cb08bc3-aea1-4bd0-8617-8a6bf09914bd,<null>
0665000009683586,2016,3,26,2016-04-26T13:49:38+0000,1798.19,0665,BD,20160326,1,<null>,,Walgreen,49,<null>,<null>,APPROVED,<null>,a6cd2022-0d87-4739-8d13-039fbb358991,<null>

In [3]:
%%cql SELECT * FROM rtfap.transactions where solr_query='{"q":"*:*", "facet":{"field":"status"}}'

facet_fields
"{""status"":{""approved"":21560,""rejected"":1219}}"

In [4]:
%%cql SELECT * FROM rtfap.transactions where solr_query='{"q":"cc_no: 123412*",  "fq":"-status: Rejected"}'

cc_no,year,month,day,txn_time,amount,cc_provider,country,date_text,hour,items,location,merchant,min,notes,solr_query,status,tags,txn_id,user_id
1234123412341236,2016,3,9,2016-03-09T11:04:59+0000,750.0,MASTERCARD,US,<null>,11,"{belts=150.0, clothes=300.0, shoes=300.0}",TX,GAP,4,customer likes electronics,<null>,Approved,[HighValue],092753,cary
1234123412341235,2016,3,9,2016-03-09T11:04:53+0000,800.0,VISA,GB,<null>,11,"{chocolates=300.0, electronics=500.0}",UK,Harrods,4,customer likes electronics,<null>,Approved,[HighValue],982538,simonanbridge
1234123412341234,2016,3,9,2016-03-09T11:04:19+0000,200.0,VISA,<null>,<null>,11,"{dressshirt=50.0, trousers=125.0, tshirt=25.0}",San Francisco,Nordstrom,4,pretty good clothing,<null>,Approved,[Suspicious],098765,kunalak
1234123412341234,2016,3,17,2016-03-17T21:04:19+0000,200.0,VISA,<null>,<null>,21,"{dressshirt=50.0, trousers=125.0, tshirt=25.0}",San Francisco,Nordstrom,4,asked for discounts,<null>,Approved,[Fraudulent],763629,kunalak
1234123412341237,2016,3,9,2016-03-09T12:30:00+0000,<null>,<null>,US,<null>,<null>,<null>,<null>,<null>,<null>,<null>,<null>,<null>,<null>,<null>,<null>

In [5]:
%%cql select * from rtfap.transactions where solr_query='{"q":"*:*", "fq":["amount:[100 TO 200]"]}'

cc_no,year,month,day,txn_time,amount,cc_provider,country,date_text,hour,items,location,merchant,min,notes,solr_query,status,tags,txn_id,user_id
9021000078340839,2016,3,26,2016-04-26T13:49:38+0000,103.38,9021,ET,20160326,1,<null>,,Toys R Us,49,<null>,<null>,APPROVED,<null>,9cb08bc3-aea1-4bd0-8617-8a6bf09914bd,<null>
1234123412341234,2016,3,9,2016-03-09T11:04:19+0000,200.0,VISA,<null>,<null>,11,"{dressshirt=50.0, trousers=125.0, tshirt=25.0}",San Francisco,Nordstrom,4,pretty good clothing,<null>,Approved,[Suspicious],098765,kunalak
1234123412341234,2016,3,17,2016-03-17T21:04:19+0000,200.0,VISA,<null>,<null>,21,"{dressshirt=50.0, trousers=125.0, tshirt=25.0}",San Francisco,Nordstrom,4,asked for discounts,<null>,Approved,[Fraudulent],763629,kunalak
9773000033919573,2016,3,26,2016-04-26T14:24:44+0000,195.46,9773,JP,20160326,2,<null>,,YUM! Brands,24,<null>,<null>,APPROVED,<null>,a246e615-4bd8-4ce2-8f8d-f64fab09557d,<null>
2945000017090364,2016,3,26,2016-04-26T14:24:42+0000,119.39,2945,GH,20160326,2,<null>,,Dollar General,24,<null>,<null>,APPROVED,<null>,8d1c1939-8a17-4ad1-82c6-67b3c62f0c6b,<null>
7512000056651251,2016,3,26,2016-04-26T14:24:45+0000,110.78,7512,IT,20160326,2,<null>,,Wal-Mart Stores,24,<null>,<null>,APPROVED,<null>,1a975d23-790f-498d-a7e9-d5b6fc112aaf,<null>
7614000023109881,2016,3,26,2016-04-26T14:25:03+0000,160.85,7614,IN,20160326,2,<null>,,Wal-Mart Stores,25,<null>,<null>,APPROVED,<null>,3d242cf8-bec3-42db-8702-ad0471c98c68,<null>
8713000080535415,2016,3,26,2016-04-26T14:25:08+0000,165.87,8713,US,20160326,2,<null>,GA,Wal-Mart Stores,25,<null>,<null>,APPROVED,<null>,08c9ce42-dcd5-4bc8-a8c5-c26dfa4baf5d,<null>
9484000036598457,2016,3,26,2016-04-26T14:25:10+0000,104.93,9484,IN,20160326,2,<null>,,Ross Stores,25,<null>,<null>,APPROVED,<null>,eeca2651-0529-49e3-910b-81402a27490e,<null>
1849000010978048,2016,3,26,2016-04-26T14:25:05+0000,122.81,1849,US,20160326,2,<null>,WI,Wal-Mart Stores,25,<null>,<null>,APPROVED,<null>,51fa81ff-96ac-40d9-b217-3e3bb25af86e,<null>

# Spark/SparkSQL, Spark-Cassandra Connector

In [1]:
sqlContext.sql("""CREATE TEMPORARY TABLE temp_transactions
     USING org.apache.spark.sql.cassandra
     OPTIONS (
       table "transactions",
       keyspace "rtfap",
       cluster "Test Cluster",
       pushdown "true"
     )""")

org.apache.spark.sql.DataFrame = []

In [8]:
val rollup1= sqlContext.sql("select txn_time, cc_no, amount, cc_provider, items, location, merchant, notes, status, txn_id, user_id, tags, int(translate(string(date(txn_time)),'-','')) as day from temp_transactions")    

rollup1 show
print(rollup1.count)
rollup1 printSchema

import org.apache.spark.sql.SaveMode

rollup1.write.format("org.apache.spark.sql.cassandra")
.mode(SaveMode.Overwrite)
.options(Map("keyspace" -> "rtfap", "table" -> "dailytxns_bymerchant"))
.save()

+--------------------+----------------+-------+-----------+-----+--------+--------------------+-----+--------+--------------------+-------+----+--------+
|            txn_time|           cc_no| amount|cc_provider|items|location|            merchant|notes|  status|              txn_id|user_id|tags|     day|
+--------------------+----------------+-------+-----------+-----+--------+--------------------+-----+--------+--------------------+-------+----+--------+
|2016-04-25 14:45:...|2312000065673895|1299.48|       2312| null|        |Apple Store / iTunes| null|APPROVED|97e0fec0-e80e-463...|   null|null|20160425|
|2016-04-25 14:40:...|9025000065124606| 676.88|       9025| null|        |Defense Commissar...| null|APPROVED|b524a43a-d8c9-4ab...|   null|null|20160425|
|2016-04-25 15:02:...|8219000099589944|2078.94|       8219| null|        |          Amazon.com| null|APPROVED|1fa4cef9-4cbb-433...|   null|null|20160425|
|2016-04-25 14:45:...|7235000076720013|1273.95|       7235| null|        |     Wal-Mart Stores| null|APPROVED|adb19aa9-c99d-484...|   null|null|20160425|
|2016-04-25 15:11:...|7700000090403145|1243.36|       7700| null|        |     Wal-Mart Stores| null|APPROVED|14c5b0bf-f95d-4d0...|   null|null|20160425|
|2016-04-25 15:41:...|0986000046056720|1829.31|       0986| null|        |    Lowe's Companies| null|APPROVED|b91af2a1-cd7e-495...|   null|null|20160425|
|2016-04-25 14:42:...|4311000069404837|1835.54|       4311| null|        |               Bi-Lo| null|APPROVED|7771d183-104d-40b...|   null|null|20160425|
|2016-04-25 15:03:...|2572000012921607|  715.8|       2572| null|        |                Aldi| null|APPROVED|61a11d4f-a4f0-42c...|   null|null|20160425|
|2016-04-25 15:03:...|8571000099430399| 1439.4|       8571| null|        |      Dollar General| null|APPROVED|c463eef6-6157-4bc...|   null|null|20160425|
|2016-04-25 14:41:...|3697000046760899|1768.82|       3697| null|        |         WinCo Foods| null|APPROVED|80396083-d863-4cd...|   null|null|20160425|
|2016-04-25 14:41:...|3194000074020812| 1691.7|       3194| null|        |      The Kroger Co.| null|APPROVED|8df342b0-d861-4ec...|   null|null|20160425|
|2016-04-25 15:40:...|2910000079882008|1955.98|       2910| null|        |              Costco| null|APPROVED|bbdfc431-afe2-426...|   null|null|20160425|
|2016-04-25 15:37:...|8241000024174421|2731.57|       8241| null|        |              Meijer| null|APPROVED|824ff0ea-326d-4df...|   null|null|20160425|
|2016-04-25 15:41:...|3387000033179195|2010.72|       3387| null|        |      The Home Depot| null|APPROVED|ff8e0dd7-0aa1-4c9...|   null|null|20160425|
|2016-04-25 14:40:...|9236000052458222|1127.48|       9236| null|        |          McDonald's| null|APPROVED|b64288a3-78de-464...|   null|null|20160425|
|2016-04-25 14:41:...|0922000036098253| 952.91|       0922| null|        |     Wal-Mart Stores| null|APPROVED|44771bae-e40c-4f6...|   null|null|20160425|
|2016-04-25 14:41:...|9360000044873179|1784.69|       9360| null|        |            Best Buy| null|APPROVED|4e372df7-cabd-490...|   null|null|20160425|
|2016-04-25 15:03:...|2123000008951486| 889.57|       2123| null|        |      The Kroger Co.| null|APPROVED|7811ed2a-e783-420...|   null|null|20160425|
|2016-04-25 15:37:...|6844000048961155| 860.56|       6844| null|        |      The Kroger Co.| null|APPROVED|69a9ba30-cba7-422...|   null|null|20160425|
|2016-04-25 15:04:...|7293000007896964| 984.76|       7293| null|        |Apple Store / iTunes| null|APPROVED|be2e73be-7e75-4fe...|   null|null|20160425|
+--------------------+----------------+-------+-----------+-----+--------+--------------------+-----+--------+--------------------+-------+----+--------+

6401root
 |-- txn_time: timestamp (nullable = true)
 |-- cc_no: string (nullable = true)
 |-- amount: double (nullable = true)
 |-- cc_provider: string (nullable = true)
 |-- items: map (nullable = true)
 |    |-- key: string
 |    |-- value: double (valueContainsNull = true)
 |-- location: string (nullable = true)
 |-- merchant: string (nullable = true)
 |-- notes: string (nullable = true)
 |-- status: string (nullable = true)
 |-- txn_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- tags: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- day: integer (nullable = true)

In [9]:
rollup1.groupBy("cc_provider").count.show

+-----------+-----+
|cc_provider|count|
+-----------+-----+
|       0369|    1|
|       0864|    2|
|       3988|    1|
|       4923|    1|
|       4428|    1|
|       9829|    1|
|       8938|    1|
|       8776|    2|
|       9667|    2|
|       7272|    2|
|       9054|    1|
|       1142|    1|
|       2484|    1|
|       3375|    2|
|       4310|    1|
|       4266|    1|
|       6048|    1|
|       7885|    1|
|       1305|    1|
|       0865|    1|
+-----------+-----+

In [10]:
%%cql select * from rtfap.dailytxns_bymerchant where merchant='Nordstrom' and day=20160317 limit 5

merchant,day,txn_time,txn_id,max_amount,min_amount,total_amount,total_count,amount,cc_no,cc_provider,items,location,notes,status,tags,user_id
Nordstrom,20160317,2016-03-17T21:04:19+0000,763629,<null>,<null>,<null>,<null>,200.0,1234123412341234,VISA,"{dressshirt=50.0, trousers=125.0, tshirt=25.0}",San Francisco,asked for discounts,Approved,[Fraudulent],kunalak

In [11]:
%%cql select * from rtfap.dailytxns_bymerchant limit 5

merchant,day,txn_time,txn_id,max_amount,min_amount,total_amount,total_count,amount,cc_no,cc_provider,items,location,notes,status,tags,user_id
AT&T Wireless,20160425,2016-04-26T00:00:00+0000,1461641847187,2487.24,43.11,60186.409999999974,48,<null>,<null>,<null>,<null>,<null>,<null>,<null>,<null>,<null>
AT&T Wireless,20160425,2016-04-25T15:41:39+0000,1a5dc25e-e7c3-4226-8ed5-177d40dac64d,2487.24,43.11,60186.409999999974,48,1408.33,3065000037198138,3065,<null>,,<null>,APPROVED,<null>,<null>
AT&T Wireless,20160425,2016-04-25T15:41:35+0000,2ad9b43c-b0f0-4cda-96f6-7140b72e6e29,2487.24,43.11,60186.409999999974,48,1288.28,8460000086177555,8460,<null>,MI,<null>,APPROVED,<null>,<null>
AT&T Wireless,20160425,2016-04-25T15:37:36+0000,57c34c73-da85-435e-8b9f-5ae3234c2323,2487.24,43.11,60186.409999999974,48,2074.57,1915000037044188,1915,<null>,,<null>,APPROVED,<null>,<null>
AT&T Wireless,20160425,2016-04-25T15:37:35+0000,b6ff95d6-cd4c-4d7c-8ca3-ac1e4635ce07,2487.24,43.11,60186.409999999974,48,399.07,3778000030194142,3778,<null>,,<null>,APPROVED,<null>,<null>

In [13]:
sqlContext.sql("""CREATE TEMPORARY TABLE temp_dailytxns_bymerchant
     USING org.apache.spark.sql.cassandra
     OPTIONS (
       table "dailytxns_bymerchant",
       keyspace "rtfap",
       cluster "Test Cluster",
       pushdown "true"
     )""")

org.apache.spark.sql.DataFrame = []

In [13]:
import java.util.Calendar 
import java.text.SimpleDateFormat

val today = Calendar.getInstance.getTime
val datetimeformat= new SimpleDateFormat("yyyy-MM-dd'T'HH:mm:ss.SSS")
print(datetimeformat.format(today))

2016-04-26T02:52:50.983

In [18]:
sqlContext.udf.register("now", () => System.currentTimeMillis)

org.apache.spark.sql.UserDefinedFunction = UserDefinedFunction(<function0>,LongType)

In [20]:
sqlContext.sql("select now(), merchant from temp_dailytxns_bymerchant").show(5)

+-------------+-----------+
|          _c0|   merchant|
+-------------+-----------+
|1461706038825|Dollar Tree|
|1461706038849|Dollar Tree|
|1461706038849|Dollar Tree|
|1461706038849|Dollar Tree|
|1461706038849|Dollar Tree|
+-------------+-----------+

In [21]:
val rollup2= sqlContext.sql("select date(timestamp(now())) as txn_time,  string(now()) as txn_id, merchant, day, count(*) as total_count, sum(amount) as total_amount, min(amount) as min_amount, max(amount) as max_amount from temp_dailytxns_bymerchant group by merchant, day")
rollup2 printSchema
rollup2 show

root
 |-- txn_time: date (nullable = true)
 |-- txn_id: string (nullable = true)
 |-- merchant: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- total_count: long (nullable = false)
 |-- total_amount: double (nullable = true)
 |-- min_amount: double (nullable = true)
 |-- max_amount: double (nullable = true)

+----------+-------------+--------------------+--------+-----------+------------------+----------+----------+
|  txn_time|       txn_id|            merchant|     day|total_count|      total_amount|min_amount|max_amount|
+----------+-------------+--------------------+--------+-----------+------------------+----------+----------+
|2016-04-26|1461639450633|            Walgreen|20160425|        230|263474.87999999995|     17.59|   3693.63|
|2016-04-26|1461639450766|              Meijer|20160425|         66|          81280.07|    115.38|   3140.23|
|2016-04-26|1461639450891|         Foot Locker|20160425|         18|          21722.48|    113.53|   2315.27|
|2016-04-26|1461639450898|           Dillard's|20160425|         20|19188.989999999998|     34.71|   2403.67|
|2016-04-26|1461639450811|            AutoZone|20160425|         26|30088.059999999998|    155.13|   2341.22|
|2016-04-26|1461639450853|        Office Depot|20160425|         16|22420.839999999997|      2.62|   2469.48|
|2016-04-26|1461639450854|          McDonald's|20160425|        133|162440.72999999998|     27.82|   3008.93|
|2016-04-26|1461639450837|      The Kroger Co.|20160425|        353| 446811.4499999997|       2.8|   3403.37|
|2016-04-26|1461639450869|              Target|20160425|        260|312127.33999999973|     11.25|   3040.66|
|2016-04-26|1461639450904|       AT&T Wireless|20160425|         48|60186.409999999974|     43.11|   2487.24|
|2016-04-26|1461639450901|          Amazon.com|20160425|        165|216976.40999999995|     45.98|   3142.28|
|2016-04-26|1461639450922|      Dollar General|20160425|         74| 78129.71999999999|      4.58|   3029.25|
|2016-04-26|1461639450939|  Advance Auto Parts|20160425|         14|          10816.56|    155.81|   2201.43|
|2016-04-26|1461639450927|               Bi-Lo|20160425|         38|          45046.64|     38.36|    2795.3|
|2016-04-26|1461639451035|Save Mart Superma...|20160425|         12|13231.259999999998|    361.17|   2078.05|
|2016-04-26|1461639451081|       H-E-B Grocery|20160425|         48|          51218.49|     10.43|   2592.82|
|2016-04-26|1461639451115|Burger King World...|20160425|         24|          25019.65|    126.56|   2294.19|
|2016-04-26|1461639451035|     J.C. Penney Co.|20160425|         39|          47152.21|     99.91|   2337.14|
|2016-04-26|1461639451094|             Harrods|20160309|          1|             800.0|     800.0|     800.0|
|2016-04-26|1461639451069|      Barnes & Noble|20160425|         19|25817.870000000003|     95.19|   3215.58|
+----------+-------------+--------------------+--------+-----------+------------------+----------+----------+

In [7]:
import org.apache.spark.sql.SaveMode
rollup2.write.format("org.apache.spark.sql.cassandra")
        .mode(SaveMode.Append)
        .options(Map("keyspace" -> "rtfap", "table" -> "dailytxns_bymerchant"))
        .save()

In [24]:
//val rollup3= sqlContext.sql("select cc_no, int(concat(year,month,day)) as day, sum(amount) as total_amount, min(amount) as min_amount, max(amount) as max_amount from temp_transactions group by cc_no, int(concat(year,month,day))")    
val rollup3= sqlContext.sql("select cc_no, int(concat(year, if(length(month)=1, concat('0',month), month),if(length(day)=1, concat('0',day), day))) as day, sum(amount) as total_amount, min(amount) as min_amount, max(amount) as max_amount from temp_transactions group by cc_no, concat(year, if(length(month)=1, concat('0',month), month),if(length(day)=1, concat('0',day), day))")    

rollup3 show
print(rollup3.count)
rollup3 printSchema

+----------------+--------+------------+----------+----------+
|           cc_no|     day|total_amount|min_amount|max_amount|
+----------------+--------+------------+----------+----------+
|8285000045431006|20160325|       55.39|     55.39|     55.39|
|3263000072622223|20160325|     1410.96|   1410.96|   1410.96|
|6497000094263282|20160325|     2803.51|   2803.51|   2803.51|
|6623000049691301|20160325|      659.93|    659.93|    659.93|
|8263000075540657|20160325|      2148.0|    2148.0|    2148.0|
|1510000039615937|20160325|     1211.23|   1211.23|   1211.23|
|5760000011863816|20160325|      164.72|    164.72|    164.72|
|9573000038546729|20160325|     2589.37|   2589.37|   2589.37|
|5647000005396982|20160325|     1833.45|   1833.45|   1833.45|
|8910000025150739|20160325|     1927.86|   1927.86|   1927.86|
|3321000015731039|20160325|     1519.77|   1519.77|   1519.77|
|7882000038124120|20160325|     1472.06|   1472.06|   1472.06|
|3117000055112992|20160325|      801.48|    801.48|    801.48|
|5591000075606109|20160325|      403.88|    403.88|    403.88|
|7647000065261712|20160325|     1605.32|   1605.32|   1605.32|
|6760000047533377|20160325|     1518.88|   1518.88|   1518.88|
|9161000065346557|20160325|       844.0|     844.0|     844.0|
|4665000093979851|20160325|     2833.78|   2833.78|   2833.78|
|5099000064836556|20160325|     1181.19|   1181.19|   1181.19|
|3101000053389443|20160325|      797.15|    797.15|    797.15|
+----------------+--------+------------+----------+----------+

6390root
 |-- cc_no: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- min_amount: double (nullable = true)
 |-- max_amount: double (nullable = true)

In [25]:
//val rollup4= sqlContext.sql("select cc_no, int(concat(year,month,day,hour)) as hour, sum(amount) as total_amount, min(amount) as min_amount, max(amount) as max_amount from temp_transactions group by cc_no, int(concat(year,month,day,hour))")    
val rollup4= sqlContext.sql("select cc_no, int(concat(year, if(length(month)=1, concat('0',month), month),if(length(day)=1, concat('0',day), day), if(length(hour)=1, concat('0',hour), hour))) as hour, sum(amount) as total_amount, min(amount) as min_amount, max(amount) as max_amount from temp_transactions group by cc_no, concat(year, if(length(month)=1, concat('0',month), month),if(length(day)=1, concat('0',day), day), if(length(hour)=1, concat('0',hour), hour))")    
rollup4 show
print(rollup4.count)
rollup4 printSchema

+----------------+----------+------------+----------+----------+
|           cc_no|      hour|total_amount|min_amount|max_amount|
+----------------+----------+------------+----------+----------+
|4385000006838041|2016032502|      159.09|    159.09|    159.09|
|7371000097506133|2016032502|     1259.07|   1259.07|   1259.07|
|3845000065676698|2016032503|      348.82|    348.82|    348.82|
|6334000073458956|2016032503|      208.33|    208.33|    208.33|
|5098000021808114|2016032503|     1190.56|   1190.56|   1190.56|
|4637000096294021|2016032503|     1672.98|   1672.98|   1672.98|
|3241000016236977|2016032503|     2035.55|   2035.55|   2035.55|
|5468000053035767|2016032503|     2329.27|   2329.27|   2329.27|
|2415000010535829|2016032503|      670.31|    670.31|    670.31|
|3672000013357087|2016032502|     2092.22|   2092.22|   2092.22|
|5920000067167826|2016032503|      288.93|    288.93|    288.93|
|1650000057388704|2016032502|     1215.17|   1215.17|   1215.17|
|0683000077703017|2016032503|     1352.81|   1352.81|   1352.81|
|6928000076406628|2016032502|     2208.52|   2208.52|   2208.52|
|9972000026737724|2016032503|      922.35|    922.35|    922.35|
|8883000092263621|2016032502|     2173.16|   2173.16|   2173.16|
|4757000089017335|2016032503|     2035.96|   2035.96|   2035.96|
|2920000046392365|2016032503|     1668.89|   1668.89|   1668.89|
|6086000098064386|2016032502|      901.18|    901.18|    901.18|
|3208000063225146|2016032502|     1431.81|   1431.81|   1431.81|
+----------------+----------+------------+----------+----------+

6390root
 |-- cc_no: string (nullable = true)
 |-- hour: integer (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- min_amount: double (nullable = true)
 |-- max_amount: double (nullable = true)

In [26]:
//val rollup5= sqlContext.sql("select cc_no, int(concat(year,month)) as month, sum(amount) as total_amount, min(amount) as min_amount, max(amount) as max_amount from temp_transactions group by cc_no, int(concat(year,month))")    
val rollup5= sqlContext.sql("select cc_no, int(concat(year, if(length(month)=1, concat('0',month), month))) as month, sum(amount) as total_amount, min(amount) as min_amount, max(amount) as max_amount from temp_transactions group by cc_no, concat(year, if(length(month)=1, concat('0',month), month))")    

rollup5 show
print(rollup5.count)
rollup5 printSchema

+----------------+------+------------+----------+----------+
|           cc_no| month|total_amount|min_amount|max_amount|
+----------------+------+------------+----------+----------+
|1092000089729011|201603|      752.77|    752.77|    752.77|
|8607000054544606|201603|      383.09|    383.09|    383.09|
|4369000095062191|201603|      941.67|    941.67|    941.67|
|3058000009564555|201603|     2617.23|   2617.23|   2617.23|
|0158000083344395|201603|      196.53|    196.53|    196.53|
|6428000084294022|201603|     1396.43|   1396.43|   1396.43|
|8069000025489901|201603|     1642.22|   1642.22|   1642.22|
|7537000002021941|201603|      903.87|    903.87|    903.87|
|8333000057653398|201603|     1940.03|   1940.03|   1940.03|
|0305000034522128|201603|     1134.74|   1134.74|   1134.74|
|2707000048082225|201603|      2044.8|    2044.8|    2044.8|
|4501000023017336|201603|      546.98|    546.98|    546.98|
|9899000023678288|201603|      676.75|    676.75|    676.75|
|0433000048021057|201603|       235.5|     235.5|     235.5|
|1574000032644559|201603|      840.07|    840.07|    840.07|
|6834000093682116|201603|     2065.68|   2065.68|   2065.68|
|9500000074103820|201603|     2747.46|   2747.46|   2747.46|
|4376000014668398|201603|      1289.3|    1289.3|    1289.3|
|5103000025556403|201603|     1394.66|   1394.66|   1394.66|
|5821000068289871|201603|     2158.28|   2158.28|   2158.28|
+----------------+------+------------+----------+----------+

6389root
 |-- cc_no: string (nullable = true)
 |-- month: integer (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- min_amount: double (nullable = true)
 |-- max_amount: double (nullable = true)

In [27]:
val rollup6= sqlContext.sql("select cc_no, int(year) as year, sum(amount) as total_amount, min(amount) as min_amount, max(amount) as max_amount from temp_transactions group by cc_no, int(year)")    

rollup6 show
print(rollup6.count)
rollup6 printSchema

+----------------+----+------------+----------+----------+
|           cc_no|year|total_amount|min_amount|max_amount|
+----------------+----+------------+----------+----------+
|6871000014202740|2016|     1167.19|   1167.19|   1167.19|
|5656000043584196|2016|      604.12|    604.12|    604.12|
|8465000002845181|2016|      208.91|    208.91|    208.91|
|0902000085191414|2016|      356.51|    356.51|    356.51|
|6563000015973193|2016|      712.69|    712.69|    712.69|
|5759000045791732|2016|     2093.36|   2093.36|   2093.36|
|1402000045706401|2016|      467.47|    467.47|    467.47|
|1527000006711655|2016|     1998.45|   1998.45|   1998.45|
|1385000099448131|2016|     2080.15|   2080.15|   2080.15|
|0283000064415201|2016|     1043.62|   1043.62|   1043.62|
|6107000045959495|2016|      430.65|    430.65|    430.65|
|1681000099088374|2016|      939.96|    939.96|    939.96|
|9614000078994735|2016|      2255.3|    2255.3|    2255.3|
|7336000051976627|2016|      481.01|    481.01|    481.01|
|8921000095182926|2016|      677.42|    677.42|    677.42|
|2697000076011577|2016|     2394.74|   2394.74|   2394.74|
|0347000068227159|2016|     1419.81|   1419.81|   1419.81|
|1338000002057296|2016|     1167.19|   1167.19|   1167.19|
|6013000027071593|2016|     2066.27|   2066.27|   2066.27|
|6848000052909720|2016|      555.24|    555.24|    555.24|
+----------------+----+------------+----------+----------+

6389root
 |-- cc_no: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- min_amount: double (nullable = true)
 |-- max_amount: double (nullable = true)

In [9]:
case class flights_by_airtime(air_time: Int, origin_airport_id: String ,dest_airport_id: String, carrier: String, id: Int, dep_time: Int, arr_time: Int)

In [10]:
import sqlContext.implicits._
val mydf2 = sc.textFile("file:////home/datastax/flights_by_airtime.csv").map(_.split(",")).map(line => flights_by_airtime( line(0).trim.toInt, line(1), line(2),line(3),line(4).trim.toInt,line(5).trim.toInt,line(6).trim.toInt)).toDF()

In [12]:
mydf2.printSchema()
mydf2.take(10)

root
 |-- air_time: integer (nullable = false)
 |-- origin_airport_id: string (nullable = true)
 |-- dest_airport_id: string (nullable = true)
 |-- carrier: string (nullable = true)
 |-- id: integer (nullable = false)
 |-- dep_time: integer (nullable = false)
 |-- arr_time: integer (nullable = false)

Array[org.apache.spark.sql.Row] = Array([49,RKS,SLC,OO,302602,1452,1553], [254,ORD,SEA,AS,531141,1826,2110], [73,ATL,MSY,FL,693077,840,914], [104,ORD,LGA,AA,4317,1138,1440], [46,PHX,ABQ,WN,927961,1056,1158], [284,SFO,EWR,UA,313395,2238,647], [244,CLT,PHX,US,368168,1428,1650], [28,RIC,IAD,EV,671830,2037,2120], [86,LGB,SLC,B6,62693,1421,1709], [141,BOS,ORD,AA,1000882,554,756])

In [13]:
import org.apache.spark.sql.SaveMode
mydf2.write.format("org.apache.spark.sql.cassandra")
        .mode(SaveMode.Overwrite)
        .options(Map("keyspace" -> "flightsdb", "table" -> "flights_by_airtime"))
        .save()